<header>
    <div class="row fullwidth" id="page-top">
        <div class="col-lg-12 fullwidth">
            <div class="container-fluid fullwidth">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                        <ol class="carousel-indicators">
                            {% assign index = -1 %}
                            {% for image in site.static_files %}
                            {% if image.path contains 'img/header' %}
                            <li data-target="#myCarousel" data-slide-to="{% increment index %}" class="{% if index == 0 %}active{% else %}{% endif %}"></li>
                            {% endif %}
                            {% endfor %}
                        </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        {% assign set_active = false %}
                        {% for image in site.static_files %}
                        {% if image.path contains 'img/header' %}
                            <div class="item{% if set_active == false %} active{% endif %}">
                                {% assign set_active = true %}
                                <img style="background-image: url('{{ site.baseurl }}{{ image.path }}');" class="image-background 100vh"
                                     longdesc="{{ image.path | remove: "/img/photo_gallery/" | remove: ".jpg" | remove: ".png" }}">
                            </div>
                        {% endif %}
                        {% endfor %}
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                        <span class="sr-only">Next</span>
                    </a>
                </div><span>
                <div href="#services" class="animatedHeader servicesHeader">
                    <span class="animatedHeaderContent servicesHeaderContent">
                        {% for service in site.banner-services %}
                            {{ service }}
                            {% if service != site.banner-services.last %}
                                ,
                            {% endif %}
                        {% endfor %}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>